.traffic-light {
    height: 190px;
    width: 85px;
    background-color: #333;
    border-radius: 19px;
    margin: 0px auto 0px auto;
    padding: 10px;
}

.bulb {
    height: 50px;
    width: 50px;
    background-color: #111;
    border-radius: 50%;
    margin: 5px auto;
    transition: background 500ms;
}

@-o-keyframes fadeRedBulb {
    0% {
        background-color: #111;
    }
    40% {
        background-color: #c9302c;
    }
    100% {
        background-color: #111;
    }
}

@keyframes fadeRedBulb {
    0% {
        background-color: #111;
    }
    15% {
        background-color: #c9302c;
    }
    30% {
        background-color: #c9302c;
    }
    68% {
        background-color: #c9302c;
    }
    85% {
        background-color: #111;
    }
    100% {
        background-color: #111;
    }
}

@-o-keyframes fadeYellowBulb {
    0% {
        background-color: #111;
    }
    50% {
        background-color: #ec971f;
    }
    100% {
        background-color: #111;
    }
}

@keyframes fadeYellowBulb {
    0% {
        background-color: #111;
    }
    35% {
        background-color: #ec971f;
    }
    70% {
        background-color: #ec971f;
    }
    87% {
        background-color: #111;
    }
    100% {
        background-color: #111;
    }
}

@-o-keyframes fadeGreenBulb {
    0% {
        background-color: #111;
    }
    50% {
        background-color: #449d44;
    }
    100% {
        background-color: #111;
    }
}

@keyframes fadeGreenBulb {
    0% {
        background-color: #111;
    }
    45% {
        background-color: #449d44;
    }
    72% {
        background-color: #449d44;
    }
    89% {
        background-color: #111;
    }
    100% {
        background-color: #111;
    }
}

.traffic-light-animated-red {
    background-image: none !important;
    -o-animation: fadeRedBulb 5s infinite;
    animation: fadeRedBulb 5s infinite;
}

.traffic-light-animated-yellow {
    background-image: none !important;
    -o-animation: fadeYellowBulb 5s infinite;
    animation: fadeYellowBulb 5s infinite;
}

.traffic-light-animated-green {
    background-image: none !important;
    -o-animation: fadeGreenBulb 5s infinite;
    animation: fadeGreenBulb 5s infinite;
}